{% load static %}

<ul class="header_ul">
  <li><a class="active" href="{% url 'home' %}"><img src="{% static 'todo/img/logo.png'%}" alt="" height="60px" width="60%"></a></li>
  <div class="todo">
    
      <li style="margin-left: 250px;"><a class="active" href="{% url 'home' %}">Home</a></li>

      {% if request.user.is_authenticated %}

      <li><a href="{% url 'create_todo' %}">Create Todo</a></li>
    
  </div>

  <li class="signout" style="float: right; margin-right: 100px">
    <a href="{% url 'logout_user' %}">Sign out({{request.user.username}})</a>
  </li>

  {% else %}

  <div class="register" style="float:right;margin-right:80px">
    
      <li><a href="{% url 'register' %}">Register</a></li>
      <li><a href="{% url 'login' %}">Login</a></li>
    
  </div>

  {% endif %}
</ul>
