{% extends '_partials/base.html' %}

{% load static %}

{% block title %}

Todo:{{todo_detail.title}}
{% endblock %}

{% block content %}
  <h1 class="ui header" style="margin-left:500px;margin-top:70px"> Todo Detail</h1>
  {% include '_partials/messages.html' %}
  <div class="ui card" style="margin-left:450px;">
    <div class="content">
      <div class="header">{{todo_detail.title}}</div>
      <div class="meta">{{todo_detail.created_at}}</div>
      <div class="description">
        <p>{{todo_detail.description}}</p>
      </div>
    </div>
    <div class="extra content">
      {% if todo_detail.is_completed%}
        <p><i class="check icon green"></i>
        Completed at {{todo_detail.updated_at}}
        </p>
        {%else%}
        <p>Not completed</p>
        {%endif%}
        <a href="{% url 'edit_todo' todo_detail.id %}" class="ui button primary">Edit</a>
        <a href="{% url 'delete_todo' todo_detail.id %}" class="ui button red">Delete this todo</a>
    </div>
  </div>

    {% endblock %}